@import '../../base';

.jumbotron-about {
    height: 80vh;
    @include flex-center;
}

.jumbotron-about::before {
    content: "";
    background: rgb(0, 29, 126) url('../../assets/landing.jpeg');
    background-repeat:  no-repeat;
    background-position: center;
    background-size: auto;
    position: absolute;
    object-fit: contain;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .5;
}

.warehouse-icon,
.top-header {
    position: relative;
    animation-name: fadeInBottom;
}

.warehouse-icon {
    font-size: 4em;
}

.top-header {
    font-size: 6rem;
}

.bottom-header {
    font-size: 3rem;
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}

@media (max-width: 390px){
    .top-header {
        font-size: 3rem;
    }
}