.jumbotron-about {
    background: rgb(0, 29, 126) url('../../assets/landing.jpeg');
    background-repeat:  no-repeat;
    background-position: center;
    background-size: auto;
    height: 80vh;
    object-fit: contain;
}