@import '../../../base';

.contact-form {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.submit-message-btn {
    background-color: green!important;
    border-color: green!important;
    width: 30%;
}