$blue: #3264a8;
$dark-grey: #28313d;
@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap');

body {
    font-family: 'Padauk', sans-serif!important;
}

//FLEX
@mixin flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@mixin flex-center-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.component-container {
    margin: 100px 0;
}

.link {
    text-decoration: none;
}

.heading {
    text-align: center;
}
